body {
	background-image: linear-gradient(#2e279d,#dff6f0 );
	margin: 0;
	padding: 0;
}

#mobile-frame {
	width: 480px;
	min-height: calc(100vh - 80px);
	background: white;
	background-image: linear-gradient(#dff6f0,#2e279d );
	margin: 40px auto;
	position: relative;
	overflow: hidden;
}

header {
	color: white;
	font-size: 32px;
	height: 100px;
	padding: 30px;
	box-sizing: border-box;
	position: relative;
}

#presents {
	/* UGLY */
	/* TO-DO: pillow place holder vervangen */
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
	color: #ffff;
}

#presents .kussenafbeelding {
	margin-top: 50px;
}

#presents .naamkussen {
	font-family: 'Sacramento', cursive;
	font-size: 100px;
	margin-bottom: -10px;
}

#presents .uitlegkussen {
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

footer {
	/* UGLY */
	font-family: 'Roboto', sans-serif;
	text-align: center;
	color: white;
	height: 200px;
}

