body {
	/* UGLY */
	/* background-image: linear-gradient(#dff6f0,#2e279d); */
	background-color: purple;
	margin: 0;
	padding: 0;
}

#mobile-frame {
	width: 480px;
	min-height: calc(100vh - 80px);
	background: white;
	background-image: linear-gradient(#dff6f0,#2e279d );
	margin: 40px auto;
	position: relative;
	overflow: hidden;
}

header {
	color: white;
	font-size: 32px;
	height: 100px;
	padding: 30px;
	box-sizing: border-box;
	position: relative;
}

#presents {
	/* UGLY */
	/* TO-DO: pillow place holder vervangen */
	padding: 40px;
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
	color: #ffff;
}

#presents .kussenafbeelding {
	margin-top: 50px;
}

#presents .naamkussen {
	font-family: 'Sacramento', cursive;
	font-size: 100px;
	margin-bottom: -10px;
}

#presents .uitlegkussen {
	margin-left: 7px;
	margin-right: 7px;
	margin-bottom: 36px;
	font-family: 'Varela Round', sans-serif;
	font-size: 18px;
}

#productspecs {
	padding: 40px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-family: 'Varela Round', sans-serif;
	font-size: 25px;
	/* margin-top: 15px; */
}

#productspecs .icoon {
	margin-top: 60px;
}

#productspecs .titel-specs {
	font-family: 'Varela Round', sans-serif;
	font-size: 30px;
	margin-bottom: 5px;
	margin:20px 7px 5px;
}

#productspecs .inhoud-specs {
	margin-left: 7px;
	margin-right: 7px;
	font-family: 'Varela Round', sans-serif;
	font-size: 18px;
	margin-top: 0px;
}

#products {
	padding: 40px;
	margin-left: 7px;
	margin-right: 7px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	color: white;
}

#products .titel-producten {
	font-family: 'Sacramento', cursive;
	font-size: 70px;
	margin: 1px;
}

#products .productomschrijving {
	font-family: 'Varela Round', sans-serif;
	font-size: 18px;
	margin: 0px 0px 20px 0px;
}

#products .buy-button {
	/* UGLY */
	background-color: #4d80e4;
	font-family: 'Varela Round', sans-serif;
	border: none;
	padding: 15px 32px;
	border-radius: 15px;
	margin: 0px 0px 100px 0px;
	color: white;
	display: inline-block;
	font-size: 30px;
	cursor: pointer;	
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
	background-color: #4d80e4;
	border-radius: 15px;
	color: white;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
	margin-top: 10px;
}
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
	background-color: #46b3e6;
}
  
  /* Style the accordion panel. Note: hidden by default */
.panel {
	border-radius: 15px;
	padding: 0 18px;
	background-color: #46b3e6;
	display: none;
	overflow: hidden;
}

#faq {
	padding: 10px;
	justify-content: center;
	align-items: center;
	font-family: 'Varela Round', sans-serif;
	color: #fff;
	margin: -30px 10px 0px;
}

#faq .titelfaq {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	font-size: 40px;
}

#about-us {
	color: white;
	font-family: 'Varela Round', sans-serif;
	padding: 40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

#about-us .titel-about-us { 
	font-size: 40px;
}

#about-us .about-us {
	font-size: 20px;
}

#contact {
	display: flex;
	flex-wrap: wrap;
	font-size: 18px;
	font-family: 'Varela Round', sans-serif;
	color: white;
	align-items: center;
	margin: 30px;
	margin-top: 0px;
	padding: 10px;
}

#contact .titel-contact {
	margin: 0px auto 20px;
	font-size: 40px;
	padding: 20px 0;
	width: 300px;
	text-align: center;
}

#contact .contact-info {
	display: flex;
	flex-wrap: wrap;
	margin: 3px;
 }

#contact .contact-info .contact-icoon {
	/* margin-left: 30px;
	margin-bottom: -10px; */
	margin: -12px 20px 20px 80px;
	padding: -5px 0px 0px 30px;
}



/* DASHBOARD */
/* DASHBOARD */
/* DASHBOARD */



#gebruiker {
	margin: 30px;
}

#gebruiker .inhoud-gebruiker{
	text-align: center;
	color: white;
	font-family: 'Varela Round', sans-serif;
	font-size: 30px;
	margin: 10px;
}

#root {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	font-family: 'Varela Round', sans-serif;
	font-size: 20px;
	color: white;
	margin: 50px;
}

#root .slaaplog-entry {
	font-family: 'Varela Round', sans-serif;
	font-size: 30px;
	color: white;
}

#root .row {
	/* UGLY */
	background-color: #46b3e6;
	border: none;
	padding: 15px 32px;
	border-radius: 15px;
	margin-bottom: 15px;
	padding: 40px;
}

#root .tijd {
	/* UGLY */
	font-size: 14px;
	color: lightgray;
}



/* PRODUCTPAGINA */
/* PRODUCTPAGINA */
/* PRODUCTPAGINA */



#productpagina {
	margin: 30px;
	display: flex;
	flex-wrap: wrap;
}

#productpagina .naam-product {
	text-align: center;
	color: white;
	font-family: 'Sacramento', cursive;
	font-size: 50px;
	margin: 1px;
}

#productpagina .omschrijving-product {
	color: white;
	font-family: 'Varela Round', sans-serif;
	font-size: 18px;
}

#productpagina .add-to-cart-button {
	background-color: #4d80e4;
	font-family: 'Varela Round', sans-serif;
	font-size: 14px;
	border: none;
	padding: 15px 32px;
	border-radius: 15px;
	justify-content: space-evenly;
	color: white;
	display: flex;
	font-size: 30px;
	cursor: pointer;

}

footer {
	/* UGLY */
	font-family: 'Varela Round', sans-serif;
	text-align: center;
	color: white;
	font-size: 18px;
	height: 50px;
}

